[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pipeComp"]
	path = pipeComp
	url = https://github.com/plger/pipecomp
[submodule "scDblFinder"]
	path = scDblFinder
	url = https://github.com/plger/scdblfinder
[submodule "sechm"]
	path = sechm
	url = https://github.com/plger/sechm
[submodule "SEtools"]
	path = SEtools
	url = https://github.com/plger/setools
