[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scDblFinder"]
	path = scDblFinder
	url = https://github.com/plger/scdblfinder
	shallow = true
	registered = true
