[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sechm"]
	path = sechm
	url = https://github.com/plger/sechm
	shallow = true
	registered = true
